{
    "presets": [
      "env",
      "react"
    ],
    "plugins": [
      "transform-class-properties",
      "transform-object-rest-spread"
    ]
  }
  
//.babelrc is the file used for parameters passed to babel in command line
//presets are group of plugins